.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: var(--white);
  border-radius: var(--rounded-small);
  height: 100%;
}
.item-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.input-header {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0;
}
.input-actions {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 40px;
}
.input-actions #new-todo {
  width: 100%;
  height: 100%;
  outline: none;
  border-width: 0 0 3px;
  border-color: var(--dark-grey);
  border-style: solid;
  padding-left: 0.2rem;
  background-color: var(--white);
}
.input-actions .add-button {
  text-transform: uppercase;
  border: 3px solid var(--dark-grey);
  min-width: 120px;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: var(--rounded-xtra-small);
}
.filters {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
}
.filter-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter-buttons button.all.active {
  color: var(--white);
}
.filter-buttons button.all.active:hover {
  color: var(--dark-grey);
}
.active.active {
  color: var(--amber);
}
.completed.active {
  color: var(--green);
}
.filter-buttons {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.filter-buttons button {
  border: 3px solid var(--dark-grey);
  height: 100%;
  min-width: 100px;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  border-radius: var(--rounded-xtra-small);
  position: relative;
}
.filter-buttons button span {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: small;
  display: grid;
  place-items: center;
}
.filter-heading {
  margin: 0;
  text-transform: capitalize;
}
.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  width: 100%;
}
.noTodos {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .todos {
    padding: 0rem;
  }
  .todo-container {
    gap: 1rem;
  }
  .input-container {
    gap: 0.5rem;
  }
  .filters,
  .input-actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-heading {
    font-size: small;
  }
  .input-actions {
    height: auto;
  }
  .input-actions #new-todo {
    height: 50px;
    font-size: x-small;
  }
  .input-actions #new-todo::placeholder {
    font-size: x-small;
  }
  .input-actions .add-button,
  .filter-buttons {
    width: 100%;
    font-size: small;
    height: auto;
  }
  .filter-buttons button {
    width: 100%;
    font-size: small;
  }
  .filter-buttons button span {
    width: 0.8rem;
    height: 0.8rem;
    font-size: xx-small;
    top: -0.7rem;
    right: -0.4rem;
  }
  .input-header {
    font-size: x-large;
    line-height: 1;
  }
  .noTodos {
    font-size: small;
  }
}
