<div class="todo-container">
  <div class="input-container">
    <h3 class="input-header poppins-bold">
      What would you like to accomplish today?
    </h3>
    <div class="input-actions">
      <input
        id="new-todo"
        #todoDescription
        class="poppins-bold"
        type="text"
        placeholder="Type a goal & hit enter to start tracking"
        (keyup.enter)="
          addNewTodo(todoDescription.value); todoDescription.value = ''
        "
      />
      <button
        type="button"
        class="add-button poppins-bold"
        (click)="addNewTodo(todoDescription.value); todoDescription.value = ''"
      >
        Create Goal
      </button>
    </div>
  </div>
  <div class="filters">
    <div class="filter-info">
      <h4 class="poppins-bold filter-heading">Filters:</h4>
      <h4 *ngIf="totalCount > 0" class="poppins-bold filter-heading">
        Goals: {{ totalCount }}
      </h4>
    </div>
    <div class="filter-buttons">
      <button
        *ngFor="let count of activeCounts"
        type="button"
        class="poppins-bold"
        [class]="count.flag"
        [class.active]="activeFlag === count.flag"
        (click)="filterTodos(count.flag)"
      >
        {{ count.flag }}
        <span *ngIf="count.count > 0">{{ count.count }}</span>
      </button>
    </div>
  </div>
  <div class="todos" *ngIf="todos.length; else noTodos">
    <app-todo-item
      *ngFor="let todo of todos"
      [todo]="todo"
      (onNewTodos)="onHandleComplete($event)"
      class="item-container"
    ></app-todo-item>
  </div>
  <ng-template #noTodos>
    <p class="poppins-bold noTodos">
      No {{ activeFlag === "all" ? "" : activeFlag }} goals available to track.
    </p>
  </ng-template>
</div>
