<div *ngIf="todo" class="todo-item">
  <div class="poppins-bold todo">
    <div class="todo-info poppins-bold">
      <span class="created">{{ todo.createdAt }}</span>
      <span
        [ngClass]="
          todo.status == 'active' ? 'status active' : 'status completed'
        "
        >{{ todo.status }}</span
      >
    </div>
    <p class="description">{{ todo.description }}</p>
  </div>
  <div class="todo-content">
    <div class="todo-actions">
      <button
        class="poppins-bold"
        (click)="handleStatus(todo)"
        type="button"
        [class]="todo.status"
      >
        {{ todo.status == "active" ? "Mark Completed" : "Mark Active" }}
      </button>
      <button
        class="poppins-bold delete"
        (click)="deleteTodo(todo)"
        type="button"
      >
        Delete
      </button>
    </div>
  </div>
</div>
