/* You can add global styles to this file, and also import other style files */
:root {
  --dark-grey: #313638;
  --white: #f7fff7;
  --green: #4cbb17;
  --amber: #ffbf00;
  --rounded-small: 10px;
  --rounded-xtra-small: 5px;
  --bg-opacity: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--dark-grey);
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  body {
    height: 100dvh;
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-grey);
  color: var(--white);
}
button:hover {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  color: var(--dark-grey);
}
// Fonts
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
  border-radius: var(--rounded-small);
  border: solid 2px var(--white);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-button:single-button:hover {
  background: #555;
}
::-webkit-scrollbar-button:single-button {
  background: var(--dark-grey);
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}
