/* You can add global styles to this file, and also import other style files */
:root {
  --dark-grey: #313638;
  --white: #f7fff7;
  --green: #39ff14;
  --rounded-small: 10px;
  --rounded-xtra-small: 5px;
  --bg-opacity: 0.5;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--dark-grey);
  overflow: hidden;
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-grey);
  color: var(--white);
}
button:hover {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}
// Fonts
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
  border-radius: var(--rounded-small);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
